

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* font-family: sans-serif; */
    /* background: black; */
    /* color: white; */
    scroll-behavior: smooth;
    /* font-family:fantasy; */
}